body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
#searchBox {
  background: #999;
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 24px;
  border-radius: 10px;
  width: 500px;
  margin-top: 15vh;
}

#searchBox::placeholder {
  color: #ddd;
}

.result {
  display: flex;
  margin-top: 2px;
  margin-left: 8px;
  cursor:pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background 0.15s ease;
}

.result:hover {
  background: #ddd;
}
.result:active {
  background: #ccc;
}

#searchResults {
  width: 500px;
}

.result>.image {
  background: green;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  flex-shrink: 0;
}

.result>.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.result .title {
  font-weight: bold;
  margin: 0px;
}

.result .artist {
  margin-top: 5px;
  margin-bottom: 0px;
}

#search.hidden {
  display: none;
}
