@keyframes background-move {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

body {
  font-family: "Inter", sans-serif;
  margin: 40px;
  /* animation: background-move 30s linear infinite;*/
  background-size: 100%;
}
.song-header {
  display: flex;
  color: white;
}

.song-text>h1, .song-text>h2 {
  margin: 5px 0px;
}

.song-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#song-title {
  font-weight: bold;
  font-size: 35px;
}
#album-title {
  font-size: 20px;
}

img {
  width: 220px;
  border-radius: 8px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
}
.stat {
	margin-right: 50px;
  color: white;
}
.stat>p {
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0px;
}
.progressBar {
	height: 20px;	
	width: 200px;
	background-color: #bbb;
	border-radius: 20px;
	overflow: hidden;
}
.progressBar>div {
	height: 100%;
	background: #52e561;
	width: 30%;
	border-radius: 20px;
	box-shadow: 1px 1px 10px -3px #000;
  padding:0px 7px;
  transform: translateX(-14px);
}