@keyframes background-move {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #111;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 2s ease;
}
#background.hidden {
  opacity: 0;
}

.project-title {
  color: #1ed760;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 0px;
}

#searchButton.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
#searchButton {
  fill: white;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 55px;
  height: 55px;
  transition: transform 0.25s ease;
  filter: drop-shadow(1px 1px 0px #00000066);
  cursor: pointer;
}
.transition #searchButton {
  transition: transform 0.25s ease, opacity 2s ease;
}

#searchButton:hover {
  transform: scale(1.1);

}

body {
  font-family: "Inter", sans-serif;
  margin: 40px;
  /* animation: background-move 30s linear infinite;*/
  background-size: 100%;
  background: #111;
}
.song-header {
  display: flex;
  color: white;
}

.song-text>h1, .song-text>h2 {
  margin: 5px 0px;
}

.song-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 0px #00000066;
}
#song-title {
  font-weight: bold;
  font-size: 35px;
  max-width: 800px;
}
#album-title {
  font-size: 20px;
}

img {
  width: 220px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px -2px #00000066;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 920px;
  align-self: left;
  margin-top: 50px;
}
.stat {
	margin-right: 6px;
  color: white;
  font-family: Inter, sans-serif;
  margin-bottom: 6px;
  background: #11111133;
  padding: 0px 20px;
  border-radius: 6px;
  flex-grow: 1;
}
.stat>p {
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0px;
  text-shadow: 1px 1px 0px #00000066;
}

.stat>.description {
  font-weight: normal;
}

.progressBar {
	height: 20px;	
  width: 100%;
	min-width: 200px;
	background-color: #bbb;
	border-radius: 20px;
	overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.progressBar>div {
	height: 16px;
	background: #52e561;
	width: 30%;
	border-radius: 20px;
	box-shadow: 1px 1px 5px -2px #000;
  padding:0px 7px;
  margin-left: 2px;
  box-sizing: border-box;
}

#searchBox {
  background: #393939;
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 24px;
  border-radius: 10px;
  width: 500px;
  margin-top: 40px;
  margin-bottom: 5px;
}

#searchBox::placeholder {
  color: #ddd;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.result {
  display: flex;
  margin-top: 2px;
  margin-left: 8px;
  cursor:pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background 0.15s ease;
  background: #111;
  color: white;
  animation: fade-in 0.25s ease;
  animation-fill-mode: backwards;
}

.result:nth-child(1) {
  animation-delay: 0ms;
}
.result:nth-child(2) {
  animation-delay: 100ms;
}
.result:nth-child(3) {
  animation-delay: 200ms;
}
.result:nth-child(4) {
  animation-delay: 300ms;
}
.result:nth-child(5) {
  animation-delay: 400ms;
}

.result:hover {
  background: #393939;
}
.result:active {
  background: #222;
}

#searchResults {
  width: 500px;
}

.result>.image {
  background: green;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  flex-shrink: 0;
}

.result>.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.result .title {
  font-weight: bold;
  margin: 0px;
}

.result .artist {
  margin-top: 5px;
  margin-bottom: 0px;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s ease;
  width: 100%;
  position: absolute;
  left: 0;
}
#search.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
#song-info {
  display: flex;
  flex-direction: column;
}
#song-info.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.transition #song-info {
  transition: opacity 2s ease;
}